@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("./bg.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color:aliceblue;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    text-shadow: 0.27em 0.1em crimson;
    
    }

    h1 {
        font-size: 3rem;
        margin-top: 9rem;
        margin-bottom: 4rem;
        text-decoration:  underline;
 }
     
    .countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .big-text {
        font-weight: bold;
        font-size: 4rem;
        line-height: 1;
        margin: 0 3rem; /*выставила все цифры по порядку в ряд с одинаковым растоянием */
    }

    .countdown-el {
        text-align: center;
        
    }

    .countdown-el span {
        font-size: 1.2rem;
        display: inline-block; /*это тут нужно потому что мы текс в СПАН запихнули а на СПАН марджины не работают*/
        margin-top: 0.4rem;
       
           
    }
    